{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4 text-center">Mettre à Jour la Tâche: {{ todo.title }}</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">Enregistrer les Modifications</button>
                            <a href="{% url 'user_todo_list' %}" class="btn btn-secondary">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
